<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand ms-3" href="#">Stitch Line</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item border-light active">
          <a class="nav-link"  routerLink="/signup-component" routerLinkActive="active">Sign Up </a>
        </li>
        <li class="nav-item active border-light">
          <a class="nav-link " routerLink="/signin-component" routerLinkActive="active" href="#">Sign In</a>
        </li>
      </ul>
    </div>
  </nav>
