<section id="loginform">
  <div class="cards">
    <div class="card-body">
      <div class="mt-4">
        <h1 class="text-center link-light">LOGIN FORM</h1>
      </div>
      <form class="formLogin mt-5" method="post" name="form">
        <div class="mb-3">
          <label class="form-label link-light" for="exampleInputUserName">User Name</label>
          <input aria-describedby="emailHelp" autocomplete="off" class="form-control" id="exampleInputUserName"
                 name="username" type="text">
        </div>
        <div class="mb-3">
          <label class="form-label link-light" for="exampleInputPassword1">Password</label>
          <input class="form-control" id="exampleInputPassword1" name="password" type="password">
        </div>
        <div class="btnsLogin">
          <div class="">
            <button class="submitLogin btn btn-primary text-center w-100" id="loginBtn"
                    type="button">Sign In
            </button>
          </div>
          <div class="m-2">
            <a class="text-light" href="">Forget Password?</a>
          </div>

          <div class="m-2">
            <button type="button" routerLink="/signup-component" class="btn btn-link text-light" id="btnNew">Not Register Yet? Create a New Account</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
